.App {
  text-align: center;
  
}

body {
  background-color: #87bed4;
  color: #012938;
}

h2 {
  margin-bottom: 60px;
  font-size: 30px;
}

h2 + p {
  margin-bottom: 30px;
}

button {
  background-color: #e33a1a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;;
  transition: all ease 0.4s;
}

button:hover {
  opacity: 0.8;
}

p span {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.container {
  border: 2px solid #fff;
  width: 100%;
  max-width: 500px;
  margin: 30px auto 0 auto;
  border-radius: 20px;
  padding: 20px;

}

.pokemon-data {
  background-color: #badae7;
  padding: 10px;
  border-radius: 10px;
}

.abilities {
  margin-bottom: 5px;
}
